/* 결제 화면 */
#결제화면 {
    display:grid;
    height: 100%;

    grid-template-rows: auto auto 1fr auto 1fr 1fr auto;
}

#날짜_열차 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid rgb(214, 214, 214, 0.4);
    margin: 0 2% 0 2%;
    padding: 5% 0 5% 0;
    font-weight: bold; 
}
#날짜_열차 .날짜 {
    font-size: large;
    margin-bottom: 5%;
}
#날짜_열차 .열차 {
    color: rgb(72, 94, 154);
}

#출발도착역_시간 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    border-bottom: 2px solid rgb(214, 214, 214, 0.4);
    margin: 0 2% 0 2%;

    align-items: center;
}
#출발도착역_시간 .역 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
#출발도착역_시간 .시간 {
    margin-top : 5%;
    font-weight: normal;
    font-size: medium;
}
#출발도착역_시간 .화살표 {
    color: rgb(104, 122, 169);
    font-weight: bold;
}

#좌석정보 {
    border-bottom: 2px solid rgb(214, 214, 214);
    margin: 0 2% 0 2%;
    padding: 1% 0 1% 0;

    text-align: center;
}

#결제금액 {
    display:flex;
    align-items: end;

    margin: 0 4% 3% 4%;
    font-weight: bold;
}
#결제금액 .금액 {
    margin-left: 10%;
    font-size: large;
    color: rgb(72, 94, 154);
}

#할부정보 {
    display: flex;
    margin: 0 4% 0 4%;

    flex-direction: row;
    justify-content: space-between;
}
#할부기간 {
    display:grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr;
    height: 80%;

}
#할부기간 .개월수 {
    border: 2px solid rgb(72, 94, 154);
    margin: 3%;
    
    padding: 2%;
    width: 80%;

    display:flex;
    justify-content: center;
    align-items: center;
}
#선택된_할부 {
    background-color: rgb(87, 114, 187);
}

/* 완료 화면 */
#완료화면 {
    display:grid;
    height: 100%;

    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: rgb(63, 81, 133);

    align-items: center;
}